page-login {
ion-content{
    background-color: "primary";
    background-size: cover;
    text-align: center;
}
img{
    margin-top: 40px;
    width: 400px;
}
button{
    background-color: "dark";
   -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
   box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
   margin: 15px;
}
 ion-title * {
     margin-top: 10vh;
     font-size: 30px;
     width: 150%;
     height: 150%;
     margin-bottom: 5vh;
 }
 .login {
    margin-top: 10px;
    text-align: center;
    border: none;
    padding: 15px 80px;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    transition: all 0.3s ease-in-out;
    width: 85%;
    height: 35px;
    color: "secondary";
    }
input[type=email], input[type=password] {
    background-color: #f6f6f6;
    border: none;
    color: #535353;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    height: 35px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    }
}
