<ion-header>
  <ion-navbar>
    <ion-title>Sign Up</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="registerForm" (ngSubmit)=register()>
    <ion-item>
      <!-- <ion-label floating>Email</ion-label> -->
      <ion-input placeholder="Name" formControlName="name" type="text"></ion-input>
    </ion-item>
    <div *ngIf="!registerForm.controls.name.valid && registerForm.controls.name.dirty">
      Please enter your name
    </div>
    <br>
    <ion-item>
      <!-- <ion-label floating>Password</ion-label> -->
      <ion-input placeholder="Email" formControlName="email" type="email"></ion-input>
    </ion-item>
    <div *ngIf="registerForm.controls.email.hasError('required') && registerForm.controls.email.dirty">
      Please enter an email
    </div>
    <div *ngIf="registerForm.controls.email.hasError('email') && registerForm.controls.email.dirty && !registerForm.controls.email.hasError('required')">
      Please enter an valid email
    </div>
    <br>
    <ion-item>
      <!-- <ion-label floating>Email</ion-label> -->
      <ion-input placeholder="Password" formControlName="password" type="password"></ion-input>
    </ion-item>
    <div *ngIf="!registerForm.controls.password.valid && registerForm.controls.password.dirty">
      Please enter a password
    </div>
    <br>
    <ion-item>
      <!-- <ion-label floating>Email</ion-label> -->
      <ion-input placeholder="Confirm Password" formControlName="repassword" type="password"></ion-input>
    </ion-item>
    <div *ngIf="!registerForm.controls.repassword.valid && registerForm.controls.repassword.dirty">
      Please enter a matching password
    </div>
    <button ion-button full type="submit" color="secondary" class="register" [disabled]="!registerForm.valid" size="small">Sign up</button>
  </form>
  
  <footer>
    <img src="assets/image/logo.png" alt="logo">
  </footer>
</ion-content>
