page-haltelocation {
    ion-content {
        background-color: color($colors, primary);
        background-size: cover;
        text-align: center;
    }
    #map {
        height: 80%;
        width: 100%;
    }
}