page-accountsettings {
    ion-content{
        background-color: color($colors, primary);
        background-size: cover;
        text-align: center;
    }
}

.accountsetting{
    background-color:color($colors, light);
}
